@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font: normal 16px sans-serif;
    color: dimgray;
}

ul {
    list-style: none;
}

ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

hr {
    width: 150px;
    height: 2px;
    background-color: dodgerblue;
    border: 0;
    margin-bottom: 80px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}
a:hover {
    opacity: 1;
}

a.btn {
    color: white;
    border-radius: 4px;
    background-color: dodgerblue;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

/* Hero Section*/
.hero {
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    min-height: 100vh;

}

.hero .background-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    position: absolute;
}

.hero .background-image:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #414a4f;
    opacity: 0.75;
    content: '';
}

@media (max-width: 800px) {
    .hero   {
        min-height: 600px;
    }
    .hero h1 {
        font-size: 48px;
    }

    .hero h3 {
        font-size: 24px;
    }

    .hero   a.btn {
        padding: 15px 40px;
    }

}




.hero h1 {
    font: bold 60px 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.hero h3 {
    font: normal 28px 'Open Sans', sans-serif;
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 20px 50px;
}



/* Section Common Styles*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;
}

@media (max-width: 1000px) {
    section {
        padding: 100px 50px;
    }
}

@media  (max-width: 600px) {
    section {
        padding: 80px 30px;
    }
}


section h3.title {
    color: #413f3f;
    text-transform: capitalize;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 35px;
    text-align: center;


}

section p {
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
    max-width: 800px;
}

/* Our Work Section*/
.our-work {
    background-color: white;
}

.our-work .grid li {
    padding: 20px;
    height: 350px;
    border-radius: 3px;

    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;


}
.our-work .grid li.small {
    flex-basis: 40%;
}

.our-work .grid li.large {
    flex-basis: 60%;
}

@media (max-width: 1000px) {
    .our-work .grid li.small,
    .our-work .grid li.large {
        flex-basis: 100%;
    }
}



/*Services Section*/
.services {
    background-color: #F5F5F6FF;;
}

.services .grid li {
    flex-basis: 33%;
    text-align: center;
    padding: 0 30px;
}
.services .grid li i {
    font-size: 50px;
    color: dodgerblue;
    margin-bottom: 25px;
}

.services .grid li h4 {
    color: dimgray;
    font-size: 20px;
    margin-bottom: 25px;
}

.services .grid li p {
    margin: 0;
}
@media (max-width: 1000px) {
    .services .grid li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }
    .services .grid li:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .services .grid li {
        flex-basis: 100%;
    }
}


/* Reviews Section*/
.reviews {
    background-color: white;
}

.reviews .quote {
    text-align: center;
    width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.reviews .author {
    font-size: 18px;
    margin-bottom: 50px;
}

.reviews .author:last-child {
    margin-bottom: 0;
}

@media (max-width: 800px) {
    .reviews .quote {
        font-size: 18px;
    }
    .reviews .author {
        font-size: 14px;
        color: darkred;
        text-transform: uppercase;
    }
}


/*Contact Section*/

.contact {
    background-color: #F5F5F6FF;
}

.contact form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    width: 80%;
}

.contact form input {
    padding: 15px;
    flex: 1;
    font-size: 18px;
    color: #555;
    margin-right: 30px;
}

.contact form .btn {
    padding: 18px 42px;
}

@media (max-width: 800px) {
    .contact form input {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}